@import "tailwindcss/base";
@import "tailwindcss/components"; 
@import "tailwindcss/utilities";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');
@import 'aos/dist/aos.css';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
.react-datepicker__day--highlight {
  background-color: yellow !important;
  color: black !important;
}
 .swiper-button-next {
  height: 30px !important;
  margin-top: 40px !important;
  background-color: white !important;
  color: black !important;
}
.swiper-button-prev {
  height: 30px !important;
  margin-top: 150px !important;
  background-color: white !important;
  color: black !important;
}
.react-calendar {
  background-color: black !important;
  color: white;
  width: 450px !important;  
  font-size: 20px;
}
.react-calendar__tile {
  color: white;
}
.react-calendar__tile--active {
  background-color: #FCB418 !important;
}
.react-calendar__tile--now {
  background: black !important; 
  color: white; 
}
.react-calendar__navigation button {
  color: white;
}
.react-calendar__tile:hover,
.react-calendar__navigation button:hover {
  background-color: #555 !important;
}
.react-calendar,
.react-calendar__tile,
.react-calendar__navigation button {
  border: none !important;
}
.react-calendar__tile--active{
  background-color: #555 !important; 
  color: black; 
}
.react-calendar__navigation button:disabled {
  background: #555 !important; 
}
.highlight {
  color: #FCB418 !important;
}
.react-calendar__month-view__days button[disabled] {
  background-color: black !important;
}
.react-calendar__navigation__label {
  pointer-events: none !important; 
}
.react-calendar__month-view__days__day--weekend:not(.react-calendar__month-view__days__day--neighboringMonth) {
  color: white !important; 
}
.react-calendar__month-view__days__day--weekend.highlight {
  color: #FCB418 !important; 
}
.react-calendar__navigation__prev2-button,
.react-calendar__navigation__next2-button {
  display: none; 
}
.mySwipergot {
  height: auto;
  padding: 2rem 0;
  position: relative;
}
.mySwipergot .swiper-slide {
  width: 38rem !important;
  height: auto !important; 
  position: relative;
}
.mySwipergot .swiper-pagination {
  position: relative !important;
}
.mySwipergot .swiper-pagination-bullet-active {
  background: white !important;
}

.mySwipergot .swiper-pagination-bullet {
  background: white !important;
}
.mySwipergot .swiper-slide img {
  display: block;
  width: 100%;
}
.destslider .swiper-button-next, .swiper-button-prev {
  top: 30% !important; 
}
.swiper-but-prev, .swiper-but-next {
  color: white !important;
}
.swiper-pagination-bullet-active {
  background: white !important;
}
.swiper-pagination-bullet {
  background: white !important;
}
.swiper-pagination {
  position: relative !important;
}
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 0px !important;
  width: auto !important;
}
.my-unique-swiper .swiper-pagination-bullet-active {
  background: black !important;
}

.my-unique-swiper .swiper-pagination-bullet {
  background: black !important;
}
.text-extra-small {
  font-size: 0.75rem; 
}
@media screen and (max-width: 280px) { 
  .text-extra-small {
    font-size: 0.5rem; 
  }
}
@media screen and (min-width: 1468px) {
  .react-calendar {
    width: 650px !important; 
    font-size: 24px;
  }
}
@media screen and (max-width: 768px) {
  .overflowswiper  .swiper-button-next {
    margin-top: 30px !important;
  }
 .swiper-button-next {
    margin-top: 0 !important;
  }
  .swiper-button-prev {
    margin-top: 80px !important;
  }
  .mySwipergot .swiper-slide {
    width: 18rem !important;
    height: auto !important; 
    position: relative;
  }
}
.swiper-button-prev::after, .swiper-button-next::after {
  font-size: 12px !important; 
}
.hover-effect > a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: yellow;
  transition: width .3s;
}
.hover-effect:hover > a::after {
  width: 100%;
}
.hover-effect > a {
  transition: font-size .3s;
}
.hover-effect:hover > a {
  font-size: 1.05em;
}
.hover-effect a {
  position: relative;
  text-decoration: none;
  display: inline-block;
}
.sidebar {
  height: calc(100vh - 100px); 
  padding-bottom: 100px; 
}
.hover-effect a span {
  transition: font-size 0.3s ease;
}
.hover-effect a:hover span {
  font-size: 110%;
}
.hover-effect a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background: #FFD700;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.3s ease;
  transform-origin: left;
}
.hover-effect a:hover::after {
  transform: scaleX(1);
}
.hover-effect a.travel-pass::after {
  width: 100%;
}
.travel-pass-special-effect {
  position: relative;
}
.travel-pass-special-effect::after {
  content: "";
  position: absolute;
  width: 72px;
  height: 4px;
  background: #FFD700;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: left;
  animation: loadAnimation 1s ease forwards;
}
/* Default player size */
.youtube-responsive-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.youtube-responsive-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

@keyframes loadAnimation {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
.swiper-wrapper {
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.swiper-container {
  transform: translate3d(0, 0, 0);
}
[label^=label-] {
  @apply absolute left-4 bottom-5 transform transition-transform duration-200 text-gray-500;
}
.input-fullName:not(:placeholder-shown) + .label-fullName,
.input-phoneno:not(:placeholder-shown) + .label-phoneno,
.input-email:not(:placeholder-shown) + .label-email,
.input-password:not(:placeholder-shown) + .label-password {
  @apply -translate-y-2;
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.holi-text {
  @apply text-center font-bold;
  color: #111827; /* This is Tailwind's 'gray-900' for text color */
  text-shadow:
    1px 1px 0 #ff0000, /* Red shadow */
    -1px -1px 0 #00ff00, /* Green shadow */
    1px -1px 0 #0000ff, /* Blue shadow */
    -1px 1px 0 #ff00ff; /* Purple shadow */
}
.holi-text-effect {
  background-clip: text;
  text-fill-color: transparent;
  background-image: linear-gradient(
    to left,
    #f00, #ff0, #0f0, #0ff, #00f, #f0f, #f00
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* Add this to your CSS file (e.g., globals.css) */
@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.modal-enter {
  animation: slideUp 0.5s forwards;
}
.input-placeholder {
  font-size: 13px;
 
}

/* .input-placeholder::placeholder {
  color: #FCB418;
}  */
/* globals.css */
/* .modal-enter {
  opacity: 0;
  transform: translateY(100%);
}
.modal-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 500ms, transform 500ms;
}
.modal-exit {
  opacity: 1;
}
.modal-exit-active {
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 500ms, transform 500ms;
}
.modal-enter-active::after {
  content: "modal-enter-active is applied";
} */




